#primary-input-form {
  margin: 0 auto 2rem;
  padding: 1.8rem 0 2.1rem;
  width: 70%;

  font-size: large;
  text-align: center;

  background-color: #333;
  border: solid #ccc 3px;
  border-radius: 1rem;
}

#input-container {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
}

#primary-fusion-input {
  margin-right: 0.3rem;
  width: 8rem;
  padding: 0.1rem;
}

#primary-fusion-input::-webkit-calendar-picker-indicator {
  display: none;
}

#autocomplete-container {
  position: absolute;
  top: 1.5rem;
  left: -1px;
  overflow-x: hidden;
  overflow-y: auto;

  z-index: 1;
}

.autocomplete-none-found {
  margin-left: 1rem;
  margin-top: 3px;
  font-size: small;
  font-style: italic;
}

.autocomplete-with-results {
  max-height: 8rem;
  width: calc(8.3rem + 2px);

  text-align: left;

  background-color: #333;
  border: solid #ccc 1px;
  border-top: none;
  border-radius: 0 0 2px 2px;
}

.autocomplete-entry {
  padding-left: 0.3rem;
  text-transform: capitalize;
  font-size: small;
}

.autocomplete-entry:hover, #active-autocomplete {
  background-color: #000;
}

#all-filters-container {
  display: flex;
}

#toggleable-filters-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 45%;
  margin-bottom: 0.5rem;
}

#toggleable-filters-container div {
  margin: 0.2rem;
}

#type-filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  margin-top: 0.5rem;
  width: 55%;
}

#type-filter-checkboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  width: 100%;
}

#reset-filters-form {
  margin: 2rem auto 0;
  text-align: center;
}

input[type="checkbox"], input[type="radio"] {
  margin-right: 0.4rem;
}

.center {
  text-align: center;
}

.faded {
  opacity: 0.5;
}

.checkbox-type-container {
  display: flex;
  align-items: center;
}

.checkbox-type-img {
  height: 1.4rem;
}

fieldset {
  all: unset;
}

fieldset#radio-fieldset {
  margin-top: 0.5rem;
}

h3 {
  font-weight: normal;
}

label[for="primary-fusion-input"] {
  font-weight: bold;
  font-size: large;
}